<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <!-- Plotly -->
    <!-- Personal Styles -->
    <link rel="stylesheet" href="static/css/styles.css">

    <title>Avalanche Dashboard: Lake Tahoe Region</title>
</head>

<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbo-bg">
                    <img src="static/avalanche-dash.svg" alt="Avalanche Dashboard Logo" width="400">
                </div>
            </div>
        </div>


        <br>
        <div>

        </div>
        <div class="container-fluid">
            <div class="row ">
                <div class="col-sm-2 ">
                    <div style="text-align: center; ">
                        <label for="Season ">Filter data by season:</label>
                        <br>

                        <select id="seasonPicker" name="seasons">
                            <option value="2013/2014">2013/2014</option>
                            <option value="2014/2015">2014/2015</option>
                            <option value="2015/2016">2015/2016</option>
                            <option value="2016/2017">2016/2017</option>
                            <option value="2017/2018">2017/2018</option>
                            <option value="2018/2019">2018/2019</option>
                            <option value="2019/2020" selected>2019/2020</option>
                        </select>
                    </div>
                    <hr>
                    <ul>
                        <h5 class="text-dark " data-toggle="popover " data-trigger="hover " data-content="This app was designed to dynamically show relevant avalanche data collected by the SAC. It also aims to introduce new and useful infographics to
                        help the average backcountry Joe become a new backcountry pro! ">
                            About</h5>
                        <h5 class="text-dark " data-toggle="popover " data-trigger="hover " data-content="SAC Dashboard was designed for studying season-by-season avalanche data. Use the 'Season' dropdown to select the winter you are interested in. ">
                            Help</h5>
                    </ul>

                </div>

            </div>
        </div>
        <div id='incident-map'></div>

        <!-- Personal Scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>


</html>